*,
*::before,
*::after{
    box-sizing: border-box;
}
body{
   /* transform: scale(0.5);*/
    background-color: rgb(27, 25, 25);
    color: rgb(255, 45, 45);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.a_button{
    color: red;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    font-size: 60px;
    border: 4px red solid;
    border-radius: 30px;
    padding: 10px 27px;
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.925),0 0 60px rgba(255, 0, 0, 0.774)  ,0 0 7px rgba(255, 0, 0, 0.863) ,0 0 10px rgba(255, 99, 99, 0.623);
    margin-left: 10%;
    box-shadow: 0 0 22px rgb(255, 0, 0), inset 0 0 22px red;
    position: relative;
}
.a_button::before{
    pointer-events: none;
    content: "";
    position: absolute;
    background-color: rgb(255, 0, 0);
    left: 0;
    top: 120%;
    width:  100%;
    height:  100%;
    transform: perspective(100px) rotatex(40deg) translateZ(15px) scale(1 ,0.5);
    filter: blur(70px);
    opacity: 0.6;
}
.a_button::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 30px;
    box-shadow: 0 0 80px 3px red;
    opacity: 0;
    transition: opacity 100ms linear;
    transform: background-color 100ms linear;

}
.a_button:hover::before{
    opacity: 1;
}
.a_button:hover{
    background-color: rgb(184, 13, 13);
    color: black;
    text-shadow: none;
}
.a_button:hover::after{
    opacity: 1;
}
h1{
    text-align: center;
}
.ww{display: flex;}
.back,.menu{

    margin-left: 8px;
    text-align: center;
    width: 150px;
    background-color: rgb(8, 8, 8);
    box-shadow: 0 0 20px rgba(250, 25, 25, 0.795);
    border-radius: 40px;
}
.back{
    margin-left: 76%;
}
.back:hover,.menu:hover{
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 40px rgb(255, 0, 0);
}
.a_back{
    color: red;
    font-size: 40px;
    text-decoration: none;
}
span{
    
    padding: 5px;
    margin-left: 20%;
    color: transparent;
    font-size: 55px;
    position: relative;
    display: block;
    color: rgb(0, 0, 0);
}
span::before{
   
    content: attr(data-text);
    position: absolute;
    white-space: nowrap;
    top:0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 3px sold red;
    overflow: hidden;
    filter: drop-shadow(0 0 10px red) drop-shadow(0 0 50px red);;
    text-shadow: 0 0 13px rgb(255, 28, 28);
    animation: text 3s linear infinite;
    
}
@keyframes text{
    0%{
        width: 0;
    }
    100%{
        width: 100%;
        background-color: transparent;
    }
}
 